@font-face {
  src: url(font/helveticaneue.ttf);
  font-family: HelveticaNeue; }
* {
  margin: 0;
  padding: 0;
  font-family: HelveticaNeue; }

.btn-default {
  width: 170px;
  height: 58px;
  font-size: 20px;
  outline: none;
  border: 2px solid white;
  border-radius: 30px;
  background: #55642C;
  color: white;
  transition: .3s; }

.active-btn {
  background: #55642C !important;
  color: white; }

.grInp {
  display: grid;
  grid-template-columns: 117px 1fr;
  align-items: center;
  margin-bottom: 20px; }
  .grInp label {
    font-size: 15px;
    font-weight: bold; }
  .grInp input {
    box-sizing: border-box;
    height: 40px;
    padding-left: 16px;
    border: 1px solid #dbe2bf;
    outline: none; }
  .grInp input:focus {
    border: 1px solid #55642C;
    background: #f0f4e4; }

html body {
  width: 1366px;
  height: 768px;
  display: grid;
  grid-template-columns: 208px 1fr;
  grid-template-rows: 68px 1fr;
  margin: 0 auto;
  font-family: HelveticaNeue;
  background: #F2F2F2; }
  html body header {
    grid-column: 1/3;
    width: 100%;
    display: flex;
    background: #DBE2BF;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px; }
    html body header img:nth-child(2) {
      margin-right: 32px; }
  html body nav {
    grid-row: 2;
    grid-column: 1;
    box-sizing: border-box;
    padding: 69px 18px 69px 19px;
    background: white; }
    html body nav ul {
      list-style: none;
      margin: 0; }
      html body nav ul li {
        width: 171px;
        height: 57px;
        box-sizing: border-box;
        padding-left: 40px;
        line-height: 57px;
        cursor: default;
        font-size: 15px;
        border-radius: 5px; }
      html body nav ul li:hover {
        background: #e7e7e7; }
  html body main {
    grid-row: 2;
    grid-column: 2;
    position: relative; }
    html body main #titleGr {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 39px 42px 75px 42px;
      height: 172px;
      background: #55642C; }
      html body main #titleGr h3 {
        font-size: 30px;
        color: white; }
      html body main #titleGr button:hover {
        background: #6b7d39; }
    html body main .outer {
      width: 1074px;
      height: 506px;
      background: white;
      position: absolute;
      top: 136px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 5px;
      box-sizing: border-box;
      padding: 30px 26px 21px 23px; }
      html body main .outer .inner {
        height: 445px;
        box-sizing: border-box;
        border: 1px solid #cfcfcf;
        padding: 0 30px 30px; }
        html body main .outer .inner table {
          width: 100%;
          border-collapse: collapse; }
          html body main .outer .inner table td, html body main .outer .inner table th {
            width: 1%;
            border-bottom: 1px solid #cfcfcf;
            padding: 20px 0;
            text-align: center;
            font-size: 15px; }
          html body main .outer .inner table th:nth-child(-n+2), html body main .outer .inner table td:nth-child(-n+2) {
            text-align: left; }
          html body main .outer .inner table tr:last-child td {
            border-bottom: none; }
          html body main .outer .inner table input[type="checkbox"] {
            width: 26px;
            height: 26px;
            border: 1px solid #dfe6c7; }
  html body #popup {
    display: none;
    width: 1366px;
    height: 768px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0; }
    html body #popup #contentPopup {
      background: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 798px;
      height: 475px;
      padding: 52px 45px 42px;
      box-sizing: border-box; }
      html body #popup #contentPopup h3 {
        font-size: 30px;
        line-height: 30px; }
      html body #popup #contentPopup form {
        margin: 36px 45px 55px;
        width: 456px; }
      html body #popup #contentPopup .btnGr {
        text-align: center; }
        html body #popup #contentPopup .btnGr button {
          width: 120px;
          height: 40px;
          font-size: 15px;
          border-radius: 0;
          border: none; }
      html body #popup #contentPopup img[alt="closeIco"] {
        position: absolute;
        top: 25px;
        right: 25px; }

/*# sourceMappingURL=index.css.map */
